-i https://pypi.org/simple
alabaster==0.7.12
argh==0.26.2
babel==2.6.0
certifi==2022.12.7
chardet==3.0.4
commonmark==0.8.1
docutils==0.14
future==0.17.1
idna==2.8
imagesize==1.1.0
jinja2==2.10
livereload==2.6.0
markupsafe==1.1.0
packaging==19.0
pathtools==0.1.2
port-for==0.3.1
pygments-apiblueprint==0.1.0
pygments-markdown-lexer==0.1.0.dev39
pygments==2.3.1
pyparsing==2.3.1
pytz==2018.9
pyyaml==4.2b4
recommonmark==0.5.0
requests==2.21.0
six==1.12.0
snowballstemmer==1.2.1
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.2
sphinx==1.8.3
sphinxcontrib-websupport==1.1.0
tornado==6.0a1
urllib3==1.24.1
watchdog==0.9.0
